*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,body{
    width:100%;
    height:100%;
    overflow:hidden;
}

body{
    font-family:Arial, Helvetica, sans-serif;
}


/* Container */

.container{
    position:relative;
    width:100%;
    height:100dvh;
    overflow:hidden;
}


/* Pages */

.page{
    position:absolute;
    inset:0;

    width:100%;
    height:100dvh;

    display:flex;
    flex-direction:column;
    align-items:center;

    padding:40px;

    transition:transform 1s ease;
}


/* Cover */

.cover{
    background:linear-gradient(135deg,#7F3FBF,#FF69B4);
    color:white;
    text-align:center;
    justify-content:center;
    z-index:2;

    transform:translateX(0);
}


.cover h1{
    font-size:3rem;
    margin-bottom:25px;
}


.cover p{
    width:700px;
    max-width:90%;
    font-size:20px;
    line-height:1.8;
    margin-bottom:35px;
}


.cover button{
    padding:25px 35px;

    font-size:18px;

    border:none;
    border-radius:50px;

    background:white;
    color:#d63384;

    cursor:pointer;
}


/* Letter */

.letter{
    background:linear-gradient(135deg,#D9A7FF,#FFE3F1);

    transform:translateX(100%);

    overflow-y:auto;
    overflow-x:hidden;

    justify-content:flex-start;

    padding-top:80px;
    padding-bottom:100px;

    -webkit-overflow-scrolling:touch;
}


.letter h1{
    color:#8A2BE2;
    margin-bottom:30px;
    font-size:2.7rem;
    text-align:center;
}


.letter p{
    width:800px;
    max-width:90%;

    background:white;

    padding:20px;
    margin:12px 0;

    border-radius:15px;

    box-shadow:0 8px 20px rgba(0,0,0,.15);

    font-size:18px;
    line-height:1.8;
    color:#444;
}


/* Back */

#backBtn{
    position:fixed;

    top:15px;
    left:15px;

    z-index:999;

    padding:10px 20px;

    border:none;
    border-radius:30px;

    background:#8A2BE2;
    color:white;
}


/* Stickers */

.sticker{
    position:absolute;
    pointer-events:none;
    z-index:1;
}


.heart1{
    width:60px;
    top:30px;
    right:40px;
}

.heart2{
    width:45px;
    bottom:60px;
    left:40px;
}

.heart3{
    width:55px;
    bottom:120px;
    right:80px;
}

.bear{
    width:150px;
    bottom:20px;
    right:20px;
}



/* MOBILE */

@media(max-width:768px){

    .page{
        padding:25px;
    }


    .cover{
        padding:40px 20px;
    }


    .cover h1{
        font-size:2rem;
    }


    .cover p{
        font-size:18px;
    }


    .letter{
        height:100dvh;
        overflow-y:scroll;
        padding:80px 25px 120px;
        display:block;
    }


    .letter h1{
        font-size:2rem;
        margin-bottom:20px;
    }


    .letter p{
        width:100%;
        max-width:100%;
        font-size:17px;
    }


    #backBtn{
        top:12px;
        left:12px;
        font-size:14px;
        padding:8px 16px;
    }


    .heart1,
    .heart2,
    .heart3{
        width:28px;
    }


    .bear{
        width:75px;
    }

}
